# --------------------
# Node.js
# --------------------
node_modules/
npm-debug.log*
yarn.lock

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
venv_*/
env/
ENV/

# --------------------
# ML / Joblib / Cache
# --------------------
*.joblib
*.pkl
*.h5
.cache/
ml_service/venv/
ml_service/venv_*/

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Logs
# --------------------
logs/
*.log

# --------------------
# Fabric / Generated Artifacts
# --------------------
fabric-samples/
channel-artifacts/
crypto-config/
*.block
